#menu-posts-wp_trackpro img {
    width: 20px;
}

.wtp-row {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 1rem;
}

.wtp-row .wtp-fields {
    flex: 1;
    align-items: center;
    margin-left: .5rem;
}

.wtp-row .wtp-fields:nth-child(1) {
    margin-left: 0;
}

.wtp-fields label {
    font-size: .9rem;
    margin-bottom: 0.2rem;
    display: block;
}

.wtp-row .wtp-fields input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: 4px;
    border: 1px solid #999999;
}

#wtp-product-information .wtp-row:nth-child(odd) {
    background: #efefef;
}

#wtp-product-information .wtp-row.wtp-header-row {
    background: #496e7c;
    color: #ffffff;
}

#wtp-product-information .wtp-row.button-add-wrap {
    background: #fff;
}

#wtp-product-information .wtp-row .wtp-fields p {
    font-size: 14px;
}

.wtp-fields.wtp-field-street {
    flex: 3;
}

.wtp-fields.wtp-field-description {
    flex: 2.5;
}

.d-none {
    display: none;
}

.wtp-button {
    border-radius: 3px;
    text-align: center;
}

.wtp-button:hover {
    box-shadow: 1px 1px 10px #ccc;
}

.wtp-button.wtp-add-product,
.wtp-button.wtp-view.swal2-styled {
    background: #28A228;
    color: #fff;
}

.wtp-button.wtp-edit.swal2-styled {
    background: #496E7C;
    color: #fff;
}

.wtp-button.wtp-delete {
    background: #D60B00;
    color: #fff;
}

.wtp-wrap-field-modal {
    display: inline-block;
    width: 80%;
}

.wtp-wrap-field-modal .wtp-field label,
.wtp-wrap-field-modal .wtp-field input,
.wtp-wrap-field-modal .wtp-field select,
.wtp-wrap-field-modal .wtp-field textarea,
.wtp-wrap-field-modal .wtp-field number {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    padding: 0.2rem;
    border-radius: 3px;
}

.wtp-wrap-field-modal .wtp-field label {
    margin-bottom: 0.3rem;
}

.wtp-wrap-field-modal .wtp-field.d-block {
    margin-bottom: 0.4rem;
    float: left;
    width: 49%;
    margin-left: 2%;
}

.wtp-wrap-field-modal .wtp-field.d-block:nth-child(even) {
    margin-left: 0;
}

button.swal2-confirm.swal2-styled {
    background: #28A228;
    color: #fff;
}

.swal2-actions {
    margin: 0;
}

.wtp-field.d-block select.wtp-error-field,
.wtp-field.d-block input.wtp-error-field {
    border: 1px solid #D60B00;
}

.wtp-view-results {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    background: #f0f0f0;
    font-size: 15px;
}

.wtp-view-results .wtp-product-info {
    flex-basis: 50%;
    text-align: left;
    font-size: 15px;
}

.wtp-view-results .wtp-product-info p {
    font-size: 15px;
}

.wtp-view-results .wtp-error-message {
    text-align: center;
}

.wtp-view-results .wtp-product-info span.wtp-product-info-value {
    display: inline-block;
    font-size: 14px;
}